{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
<h1 id="site-name" style="color: white;">
    DS Científica
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<style>
    #header {
        background-color: #1f4e5f !important;
    }

    .module h2, .module caption {
        background-color: #2f6f87 !important;
    }

    .button, input[type=submit], input[type=button] {
        background-color: #1f4e5f !important;
        border: none;
    }
</style>
{% endblock %}
