--
-- PostgreSQL database dump
--

\restrict TUJRWtLUN3VxfjFLX3jZ5JdWMxmzcwupE7G1qc090MXNLMpDbVjNp06fI9VqNS8

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calibracao_calibracao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_calibracao (
    id bigint NOT NULL,
    data_calibracao date NOT NULL,
    validade date,
    status character varying(20) NOT NULL,
    resultado character varying(20) NOT NULL,
    certificado_numero character varying(100) NOT NULL,
    certificado_arquivo character varying(100),
    empresa_emissora character varying(200) NOT NULL,
    metodo text NOT NULL,
    padroes text NOT NULL,
    temperatura numeric(5,2),
    umidade numeric(5,2),
    local_calibracao character varying(20) NOT NULL,
    equipamentos_auxiliares text NOT NULL,
    observacoes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    instrumento_id uuid NOT NULL
);


ALTER TABLE public.calibracao_calibracao OWNER TO postgres;

--
-- Name: calibracao_calibracao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calibracao_calibracao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calibracao_calibracao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calibracao_calibracaoanexo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_calibracaoanexo (
    id bigint NOT NULL,
    arquivo character varying(100) NOT NULL,
    descricao character varying(200) NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    calibracao_id bigint NOT NULL
);


ALTER TABLE public.calibracao_calibracaoanexo OWNER TO postgres;

--
-- Name: calibracao_calibracaoanexo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calibracao_calibracaoanexo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calibracao_calibracaoanexo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calibracao_instrumento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_instrumento (
    id uuid NOT NULL,
    codigo character varying(50) NOT NULL,
    descricao character varying(255) NOT NULL,
    marca character varying(100) NOT NULL,
    modelo character varying(100) NOT NULL,
    local_instalacao character varying(200) NOT NULL,
    numero_serie character varying(100),
    status character varying(20) NOT NULL,
    proxima_calibracao date,
    ativo boolean NOT NULL,
    nome_anexo character varying(200) NOT NULL,
    anexo character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cliente_id uuid NOT NULL,
    metodo_calibracao_id bigint
);


ALTER TABLE public.calibracao_instrumento OWNER TO postgres;

--
-- Name: calibracao_instrumento_padroes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_instrumento_padroes (
    id bigint NOT NULL,
    instrumento_id uuid NOT NULL,
    padrao_id uuid NOT NULL
);


ALTER TABLE public.calibracao_instrumento_padroes OWNER TO postgres;

--
-- Name: calibracao_instrumento_padroes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calibracao_instrumento_padroes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calibracao_instrumento_padroes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calibracao_instrumentotecnico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_instrumentotecnico (
    id bigint NOT NULL,
    faixa_medicao character varying(100) NOT NULL,
    unidade character varying(50) NOT NULL,
    classe character varying(50) NOT NULL,
    observacoes text NOT NULL,
    instrumento_id uuid NOT NULL
);


ALTER TABLE public.calibracao_instrumentotecnico OWNER TO postgres;

--
-- Name: calibracao_instrumentotecnico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calibracao_instrumentotecnico ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calibracao_instrumentotecnico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calibracao_ordemservico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_ordemservico (
    id uuid NOT NULL,
    numero character varying(50) NOT NULL,
    data_abertura date NOT NULL,
    anexo character varying(100),
    cliente_id uuid NOT NULL,
    data_conclusao date,
    proposta_id uuid,
    status character varying(20) NOT NULL
);


ALTER TABLE public.calibracao_ordemservico OWNER TO postgres;

--
-- Name: calibracao_ordemservico_instrumentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_ordemservico_instrumentos (
    id bigint NOT NULL,
    ordemservico_id uuid NOT NULL,
    instrumento_id uuid NOT NULL
);


ALTER TABLE public.calibracao_ordemservico_instrumentos OWNER TO postgres;

--
-- Name: calibracao_ordemservico_instrumentos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calibracao_ordemservico_instrumentos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calibracao_ordemservico_instrumentos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calibracao_padrao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_padrao (
    id uuid NOT NULL,
    codigo character varying(50) NOT NULL,
    descricao character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    vencimento date NOT NULL,
    certificado character varying(100)
);


ALTER TABLE public.calibracao_padrao OWNER TO postgres;

--
-- Name: calibracao_periodicidade; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calibracao_periodicidade (
    id bigint NOT NULL,
    tipo character varying(20) NOT NULL,
    intervalo_meses integer NOT NULL,
    instrumento_id uuid NOT NULL,
    CONSTRAINT calibracao_periodicidade_intervalo_meses_check CHECK ((intervalo_meses >= 0))
);


ALTER TABLE public.calibracao_periodicidade OWNER TO postgres;

--
-- Name: calibracao_periodicidade_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calibracao_periodicidade ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calibracao_periodicidade_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientes_cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes_cliente (
    id uuid NOT NULL,
    razao_social character varying(255) NOT NULL,
    nome_empresa character varying(255) NOT NULL,
    cnpj character varying(18) NOT NULL,
    ativo boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    bairro character varying(100) NOT NULL,
    cep character varying(10) NOT NULL,
    cidade character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    endereco character varying(255) NOT NULL,
    ie character varying(30) NOT NULL,
    numero character varying(20) NOT NULL,
    referencia_cliente character varying(100) NOT NULL,
    telefone character varying(20) NOT NULL,
    telefone2 character varying(20) NOT NULL,
    uf character varying(2) NOT NULL,
    codigo character varying(20) NOT NULL,
    anexo character varying(100),
    nome_anexo character varying(200) NOT NULL
);


ALTER TABLE public.clientes_cliente OWNER TO postgres;

--
-- Name: clientes_clienteanexo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes_clienteanexo (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL,
    arquivo character varying(100) NOT NULL,
    data_upload timestamp with time zone NOT NULL,
    cliente_id uuid NOT NULL
);


ALTER TABLE public.clientes_clienteanexo OWNER TO postgres;

--
-- Name: clientes_clienteanexo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientes_clienteanexo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientes_clienteanexo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientes_contatocliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes_contatocliente (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    cargo character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    telefone character varying(20) NOT NULL,
    principal boolean NOT NULL,
    cliente_id uuid NOT NULL
);


ALTER TABLE public.clientes_contatocliente OWNER TO postgres;

--
-- Name: clientes_contatocliente_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientes_contatocliente ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientes_contatocliente_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientes_perfilusuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes_perfilusuario (
    id bigint NOT NULL,
    empresa character varying(200) NOT NULL,
    numero_sequencial character varying(50) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.clientes_perfilusuario OWNER TO postgres;

--
-- Name: clientes_perfilusuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientes_perfilusuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientes_perfilusuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_composicaopreco; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_composicaopreco (
    id bigint NOT NULL,
    hora_tecnica numeric(10,2) NOT NULL,
    tempo_execucao numeric(5,2) NOT NULL,
    custo_logistica numeric(10,2) NOT NULL,
    custo_insumos numeric(10,2) NOT NULL,
    outros_custos numeric(10,2) NOT NULL,
    impostos_percentual numeric(5,2) NOT NULL,
    margem_lucro numeric(5,2) NOT NULL,
    preco_calculado numeric(10,2) NOT NULL,
    produto_id bigint NOT NULL
);


ALTER TABLE public.comercial_composicaopreco OWNER TO postgres;

--
-- Name: comercial_composicaopreco_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_composicaopreco ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_composicaopreco_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_crminteracao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_crminteracao (
    id bigint NOT NULL,
    descricao text NOT NULL,
    data timestamp with time zone NOT NULL,
    crm_id bigint NOT NULL
);


ALTER TABLE public.comercial_crminteracao OWNER TO postgres;

--
-- Name: comercial_crminteracao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_crminteracao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_crminteracao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_crmregistro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_crmregistro (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    etapa_funil character varying(20) NOT NULL,
    valor_estimado numeric(12,2) NOT NULL,
    probabilidade character varying(20) NOT NULL,
    probabilidade_numero integer NOT NULL,
    proxima_acao date,
    observacoes text NOT NULL,
    cliente_id uuid NOT NULL,
    proposta_id uuid,
    responsavel_id integer
);


ALTER TABLE public.comercial_crmregistro OWNER TO postgres;

--
-- Name: comercial_crmregistro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_crmregistro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_crmregistro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_crmticket; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_crmticket (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    descricao text NOT NULL,
    tipo character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    prioridade character varying(20) NOT NULL,
    prazo_resposta date,
    data_abertura timestamp with time zone NOT NULL,
    observacoes text NOT NULL,
    cliente_id uuid NOT NULL,
    proposta_id uuid,
    responsavel_id integer
);


ALTER TABLE public.comercial_crmticket OWNER TO postgres;

--
-- Name: comercial_crmticket_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_crmticket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_crmticket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_dadostecnicos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_dadostecnicos (
    id bigint NOT NULL,
    metodo text NOT NULL,
    padroes text NOT NULL,
    solucoes text NOT NULL,
    tempo_medio character varying(100) NOT NULL,
    equipamentos_auxiliares text NOT NULL,
    produto_id bigint NOT NULL
);


ALTER TABLE public.comercial_dadostecnicos OWNER TO postgres;

--
-- Name: comercial_dadostecnicos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_dadostecnicos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_dadostecnicos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_itemproposta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_itemproposta (
    id bigint NOT NULL,
    descricao character varying(255) NOT NULL,
    quantidade integer NOT NULL,
    valor_unitario numeric(10,2) NOT NULL,
    desconto numeric(10,2) NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    produto_id bigint,
    proposta_id uuid NOT NULL,
    CONSTRAINT comercial_itemproposta_quantidade_check CHECK ((quantidade >= 0))
);


ALTER TABLE public.comercial_itemproposta OWNER TO postgres;

--
-- Name: comercial_itemproposta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_itemproposta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_itemproposta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_produtoanexo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_produtoanexo (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL,
    arquivo character varying(100) NOT NULL,
    produto_id bigint NOT NULL
);


ALTER TABLE public.comercial_produtoanexo OWNER TO postgres;

--
-- Name: comercial_produtoanexo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_produtoanexo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_produtoanexo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_produtoservico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_produtoservico (
    id bigint NOT NULL,
    codigo character varying(20) NOT NULL,
    nome character varying(200) NOT NULL,
    tipo character varying(20) NOT NULL,
    descricao text NOT NULL,
    preco_venda numeric(10,2) NOT NULL,
    ativo boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.comercial_produtoservico OWNER TO postgres;

--
-- Name: comercial_produtoservico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_produtoservico ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_produtoservico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comercial_proposta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_proposta (
    id uuid NOT NULL,
    codigo character varying(50) NOT NULL,
    data_emissao date NOT NULL,
    validade date,
    prazo_pagamento character varying(200) NOT NULL,
    local_execucao character varying(20) NOT NULL,
    frete character varying(10) NOT NULL,
    status character varying(20) NOT NULL,
    total numeric(12,2) NOT NULL,
    metodo text NOT NULL,
    padroes_utilizados text NOT NULL,
    observacoes text NOT NULL,
    cliente_id uuid NOT NULL,
    responsavel_id bigint
);


ALTER TABLE public.comercial_proposta OWNER TO postgres;

--
-- Name: comercial_propostaanexo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comercial_propostaanexo (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL,
    arquivo character varying(100) NOT NULL,
    data_upload timestamp with time zone NOT NULL,
    proposta_id uuid NOT NULL
);


ALTER TABLE public.comercial_propostaanexo OWNER TO postgres;

--
-- Name: comercial_propostaanexo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comercial_propostaanexo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comercial_propostaanexo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: financeiro_categoriafinanceira; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.financeiro_categoriafinanceira (
    id uuid NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text NOT NULL,
    codigo character varying(20)
);


ALTER TABLE public.financeiro_categoriafinanceira OWNER TO postgres;

--
-- Name: financeiro_contapagar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.financeiro_contapagar (
    id uuid NOT NULL,
    descricao character varying(200) NOT NULL,
    fornecedor character varying(200) NOT NULL,
    valor numeric(12,2) NOT NULL,
    vencimento date NOT NULL,
    data_pagamento date,
    comprovante character varying(100),
    status character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    categoria_id uuid
);


ALTER TABLE public.financeiro_contapagar OWNER TO postgres;

--
-- Name: financeiro_contareceber; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.financeiro_contareceber (
    id uuid NOT NULL,
    descricao character varying(200) NOT NULL,
    valor numeric(12,2) NOT NULL,
    vencimento date NOT NULL,
    data_recebimento date,
    comprovante character varying(100),
    status character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cliente_id uuid NOT NULL,
    proposta_id uuid
);


ALTER TABLE public.financeiro_contareceber OWNER TO postgres;

--
-- Name: financeiro_imposto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.financeiro_imposto (
    id uuid NOT NULL,
    nome character varying(100) NOT NULL,
    competencia character varying(7) NOT NULL,
    valor numeric(12,2) NOT NULL,
    vencimento date NOT NULL,
    comprovante character varying(100),
    pago boolean NOT NULL,
    data_pagamento date,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.financeiro_imposto OWNER TO postgres;

--
-- Name: qualidade_documento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qualidade_documento (
    id bigint NOT NULL,
    codigo character varying(50) NOT NULL,
    titulo character varying(200) NOT NULL,
    tipo character varying(30) NOT NULL,
    arquivo character varying(100) NOT NULL
);


ALTER TABLE public.qualidade_documento OWNER TO postgres;

--
-- Name: qualidade_documento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.qualidade_documento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.qualidade_documento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1200000$uvyvvdDEQdJiBhuKadLKDl$6tSpQbIyj9V6uxm84dySmpGMDLVY24aTExtOAR6ST5s=	2026-05-22 01:16:33.541146-03	t	DS			contato@dscientifica.com.br	t	t	2026-05-22 01:16:15.909172-03
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: calibracao_calibracao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_calibracao (id, data_calibracao, validade, status, resultado, certificado_numero, certificado_arquivo, empresa_emissora, metodo, padroes, temperatura, umidade, local_calibracao, equipamentos_auxiliares, observacoes, created_at, instrumento_id) FROM stdin;
\.


--
-- Data for Name: calibracao_calibracaoanexo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_calibracaoanexo (id, arquivo, descricao, criado_em, calibracao_id) FROM stdin;
\.


--
-- Data for Name: calibracao_instrumento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_instrumento (id, codigo, descricao, marca, modelo, local_instalacao, numero_serie, status, proxima_calibracao, ativo, nome_anexo, anexo, created_at, updated_at, cliente_id, metodo_calibracao_id) FROM stdin;
\.


--
-- Data for Name: calibracao_instrumento_padroes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_instrumento_padroes (id, instrumento_id, padrao_id) FROM stdin;
\.


--
-- Data for Name: calibracao_instrumentotecnico; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_instrumentotecnico (id, faixa_medicao, unidade, classe, observacoes, instrumento_id) FROM stdin;
\.


--
-- Data for Name: calibracao_ordemservico; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_ordemservico (id, numero, data_abertura, anexo, cliente_id, data_conclusao, proposta_id, status) FROM stdin;
\.


--
-- Data for Name: calibracao_ordemservico_instrumentos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_ordemservico_instrumentos (id, ordemservico_id, instrumento_id) FROM stdin;
\.


--
-- Data for Name: calibracao_padrao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_padrao (id, codigo, descricao, status, vencimento, certificado) FROM stdin;
\.


--
-- Data for Name: calibracao_periodicidade; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calibracao_periodicidade (id, tipo, intervalo_meses, instrumento_id) FROM stdin;
\.


--
-- Data for Name: clientes_cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes_cliente (id, razao_social, nome_empresa, cnpj, ativo, created_at, updated_at, bairro, cep, cidade, email, endereco, ie, numero, referencia_cliente, telefone, telefone2, uf, codigo, anexo, nome_anexo) FROM stdin;
\.


--
-- Data for Name: clientes_clienteanexo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes_clienteanexo (id, nome, arquivo, data_upload, cliente_id) FROM stdin;
\.


--
-- Data for Name: clientes_contatocliente; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes_contatocliente (id, nome, cargo, email, telefone, principal, cliente_id) FROM stdin;
\.


--
-- Data for Name: clientes_perfilusuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes_perfilusuario (id, empresa, numero_sequencial, user_id) FROM stdin;
1		DS-001	1
\.


--
-- Data for Name: comercial_composicaopreco; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_composicaopreco (id, hora_tecnica, tempo_execucao, custo_logistica, custo_insumos, outros_custos, impostos_percentual, margem_lucro, preco_calculado, produto_id) FROM stdin;
\.


--
-- Data for Name: comercial_crminteracao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_crminteracao (id, descricao, data, crm_id) FROM stdin;
\.


--
-- Data for Name: comercial_crmregistro; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_crmregistro (id, titulo, etapa_funil, valor_estimado, probabilidade, probabilidade_numero, proxima_acao, observacoes, cliente_id, proposta_id, responsavel_id) FROM stdin;
\.


--
-- Data for Name: comercial_crmticket; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_crmticket (id, titulo, descricao, tipo, status, prioridade, prazo_resposta, data_abertura, observacoes, cliente_id, proposta_id, responsavel_id) FROM stdin;
\.


--
-- Data for Name: comercial_dadostecnicos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_dadostecnicos (id, metodo, padroes, solucoes, tempo_medio, equipamentos_auxiliares, produto_id) FROM stdin;
\.


--
-- Data for Name: comercial_itemproposta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_itemproposta (id, descricao, quantidade, valor_unitario, desconto, valor_total, produto_id, proposta_id) FROM stdin;
\.


--
-- Data for Name: comercial_produtoanexo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_produtoanexo (id, nome, arquivo, produto_id) FROM stdin;
\.


--
-- Data for Name: comercial_produtoservico; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_produtoservico (id, codigo, nome, tipo, descricao, preco_venda, ativo, created_at) FROM stdin;
\.


--
-- Data for Name: comercial_proposta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_proposta (id, codigo, data_emissao, validade, prazo_pagamento, local_execucao, frete, status, total, metodo, padroes_utilizados, observacoes, cliente_id, responsavel_id) FROM stdin;
\.


--
-- Data for Name: comercial_propostaanexo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comercial_propostaanexo (id, nome, arquivo, data_upload, proposta_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
luu1568havll7cwnb5rztiang4u00r9o	.eJxVjEEOwiAQRe_C2pABRDou3XuGZoYBqRpISrsy3l2bdKHb_977LzXSupRx7WkeJ1FnZdThd2OKj1Q3IHeqt6Zjq8s8sd4UvdOur03S87K7fweFevnWYIURrB_oaGw2nkIARu8F0Rk2wBaiQ4uSB4CYHWYnIBkTp3gKKOr9Ab99N6A:1wQHJJ:SMMTOv18-EYraALF5NiLyD6En72iTwO_jFqC6fZ1hbk	2026-06-05 01:16:33.557155-03
\.


--
-- Data for Name: financeiro_categoriafinanceira; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.financeiro_categoriafinanceira (id, nome, descricao, codigo) FROM stdin;
\.


--
-- Data for Name: financeiro_contapagar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.financeiro_contapagar (id, descricao, fornecedor, valor, vencimento, data_pagamento, comprovante, status, created_at, updated_at, categoria_id) FROM stdin;
\.


--
-- Data for Name: financeiro_contareceber; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.financeiro_contareceber (id, descricao, valor, vencimento, data_recebimento, comprovante, status, created_at, updated_at, cliente_id, proposta_id) FROM stdin;
\.


--
-- Data for Name: financeiro_imposto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.financeiro_imposto (id, nome, competencia, valor, vencimento, comprovante, pago, data_pagamento, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: qualidade_documento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qualidade_documento (id, codigo, titulo, tipo, arquivo) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 128, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: calibracao_calibracao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calibracao_calibracao_id_seq', 1, false);


--
-- Name: calibracao_calibracaoanexo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calibracao_calibracaoanexo_id_seq', 1, false);


--
-- Name: calibracao_instrumento_padroes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calibracao_instrumento_padroes_id_seq', 1, false);


--
-- Name: calibracao_instrumentotecnico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calibracao_instrumentotecnico_id_seq', 1, false);


--
-- Name: calibracao_ordemservico_instrumentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calibracao_ordemservico_instrumentos_id_seq', 1, false);


--
-- Name: calibracao_periodicidade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calibracao_periodicidade_id_seq', 1, false);


--
-- Name: clientes_clienteanexo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_clienteanexo_id_seq', 1, false);


--
-- Name: clientes_contatocliente_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_contatocliente_id_seq', 1, false);


--
-- Name: clientes_perfilusuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_perfilusuario_id_seq', 1, true);


--
-- Name: comercial_composicaopreco_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_composicaopreco_id_seq', 1, false);


--
-- Name: comercial_crminteracao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_crminteracao_id_seq', 1, false);


--
-- Name: comercial_crmregistro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_crmregistro_id_seq', 1, false);


--
-- Name: comercial_crmticket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_crmticket_id_seq', 1, false);


--
-- Name: comercial_dadostecnicos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_dadostecnicos_id_seq', 1, false);


--
-- Name: comercial_itemproposta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_itemproposta_id_seq', 1, false);


--
-- Name: comercial_produtoanexo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_produtoanexo_id_seq', 1, false);


--
-- Name: comercial_produtoservico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_produtoservico_id_seq', 1, false);


--
-- Name: comercial_propostaanexo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comercial_propostaanexo_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 32, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 40, true);


--
-- Name: qualidade_documento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.qualidade_documento_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: calibracao_calibracao calibracao_calibracao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_calibracao
    ADD CONSTRAINT calibracao_calibracao_pkey PRIMARY KEY (id);


--
-- Name: calibracao_calibracaoanexo calibracao_calibracaoanexo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_calibracaoanexo
    ADD CONSTRAINT calibracao_calibracaoanexo_pkey PRIMARY KEY (id);


--
-- Name: calibracao_instrumento calibracao_instrumento_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento
    ADD CONSTRAINT calibracao_instrumento_codigo_key UNIQUE (codigo);


--
-- Name: calibracao_instrumento_padroes calibracao_instrumento_p_instrumento_id_padrao_id_222118c7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento_padroes
    ADD CONSTRAINT calibracao_instrumento_p_instrumento_id_padrao_id_222118c7_uniq UNIQUE (instrumento_id, padrao_id);


--
-- Name: calibracao_instrumento_padroes calibracao_instrumento_padroes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento_padroes
    ADD CONSTRAINT calibracao_instrumento_padroes_pkey PRIMARY KEY (id);


--
-- Name: calibracao_instrumento calibracao_instrumento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento
    ADD CONSTRAINT calibracao_instrumento_pkey PRIMARY KEY (id);


--
-- Name: calibracao_instrumentotecnico calibracao_instrumentotecnico_instrumento_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumentotecnico
    ADD CONSTRAINT calibracao_instrumentotecnico_instrumento_id_key UNIQUE (instrumento_id);


--
-- Name: calibracao_instrumentotecnico calibracao_instrumentotecnico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumentotecnico
    ADD CONSTRAINT calibracao_instrumentotecnico_pkey PRIMARY KEY (id);


--
-- Name: calibracao_ordemservico_instrumentos calibracao_ordemservico__ordemservico_id_instrume_4d1b7ee0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_ordemservico_instrumentos
    ADD CONSTRAINT calibracao_ordemservico__ordemservico_id_instrume_4d1b7ee0_uniq UNIQUE (ordemservico_id, instrumento_id);


--
-- Name: calibracao_ordemservico_instrumentos calibracao_ordemservico_instrumentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_ordemservico_instrumentos
    ADD CONSTRAINT calibracao_ordemservico_instrumentos_pkey PRIMARY KEY (id);


--
-- Name: calibracao_ordemservico calibracao_ordemservico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_ordemservico
    ADD CONSTRAINT calibracao_ordemservico_pkey PRIMARY KEY (id);


--
-- Name: calibracao_padrao calibracao_padrao_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_padrao
    ADD CONSTRAINT calibracao_padrao_codigo_key UNIQUE (codigo);


--
-- Name: calibracao_padrao calibracao_padrao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_padrao
    ADD CONSTRAINT calibracao_padrao_pkey PRIMARY KEY (id);


--
-- Name: calibracao_periodicidade calibracao_periodicidade_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_periodicidade
    ADD CONSTRAINT calibracao_periodicidade_pkey PRIMARY KEY (id);


--
-- Name: clientes_cliente clientes_cliente_cnpj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_cliente
    ADD CONSTRAINT clientes_cliente_cnpj_key UNIQUE (cnpj);


--
-- Name: clientes_cliente clientes_cliente_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_cliente
    ADD CONSTRAINT clientes_cliente_codigo_key UNIQUE (codigo);


--
-- Name: clientes_cliente clientes_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_cliente
    ADD CONSTRAINT clientes_cliente_pkey PRIMARY KEY (id);


--
-- Name: clientes_clienteanexo clientes_clienteanexo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_clienteanexo
    ADD CONSTRAINT clientes_clienteanexo_pkey PRIMARY KEY (id);


--
-- Name: clientes_contatocliente clientes_contatocliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_contatocliente
    ADD CONSTRAINT clientes_contatocliente_pkey PRIMARY KEY (id);


--
-- Name: clientes_perfilusuario clientes_perfilusuario_numero_sequencial_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_perfilusuario
    ADD CONSTRAINT clientes_perfilusuario_numero_sequencial_key UNIQUE (numero_sequencial);


--
-- Name: clientes_perfilusuario clientes_perfilusuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_perfilusuario
    ADD CONSTRAINT clientes_perfilusuario_pkey PRIMARY KEY (id);


--
-- Name: clientes_perfilusuario clientes_perfilusuario_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_perfilusuario
    ADD CONSTRAINT clientes_perfilusuario_user_id_key UNIQUE (user_id);


--
-- Name: comercial_composicaopreco comercial_composicaopreco_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_composicaopreco
    ADD CONSTRAINT comercial_composicaopreco_pkey PRIMARY KEY (id);


--
-- Name: comercial_composicaopreco comercial_composicaopreco_produto_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_composicaopreco
    ADD CONSTRAINT comercial_composicaopreco_produto_id_key UNIQUE (produto_id);


--
-- Name: comercial_crminteracao comercial_crminteracao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crminteracao
    ADD CONSTRAINT comercial_crminteracao_pkey PRIMARY KEY (id);


--
-- Name: comercial_crmregistro comercial_crmregistro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmregistro
    ADD CONSTRAINT comercial_crmregistro_pkey PRIMARY KEY (id);


--
-- Name: comercial_crmticket comercial_crmticket_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmticket
    ADD CONSTRAINT comercial_crmticket_pkey PRIMARY KEY (id);


--
-- Name: comercial_dadostecnicos comercial_dadostecnicos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_dadostecnicos
    ADD CONSTRAINT comercial_dadostecnicos_pkey PRIMARY KEY (id);


--
-- Name: comercial_dadostecnicos comercial_dadostecnicos_produto_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_dadostecnicos
    ADD CONSTRAINT comercial_dadostecnicos_produto_id_key UNIQUE (produto_id);


--
-- Name: comercial_itemproposta comercial_itemproposta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_itemproposta
    ADD CONSTRAINT comercial_itemproposta_pkey PRIMARY KEY (id);


--
-- Name: comercial_produtoanexo comercial_produtoanexo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_produtoanexo
    ADD CONSTRAINT comercial_produtoanexo_pkey PRIMARY KEY (id);


--
-- Name: comercial_produtoservico comercial_produtoservico_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_produtoservico
    ADD CONSTRAINT comercial_produtoservico_codigo_key UNIQUE (codigo);


--
-- Name: comercial_produtoservico comercial_produtoservico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_produtoservico
    ADD CONSTRAINT comercial_produtoservico_pkey PRIMARY KEY (id);


--
-- Name: comercial_proposta comercial_proposta_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_proposta
    ADD CONSTRAINT comercial_proposta_codigo_key UNIQUE (codigo);


--
-- Name: comercial_proposta comercial_proposta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_proposta
    ADD CONSTRAINT comercial_proposta_pkey PRIMARY KEY (id);


--
-- Name: comercial_propostaanexo comercial_propostaanexo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_propostaanexo
    ADD CONSTRAINT comercial_propostaanexo_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: financeiro_categoriafinanceira financeiro_categoriafinanceira_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_categoriafinanceira
    ADD CONSTRAINT financeiro_categoriafinanceira_codigo_key UNIQUE (codigo);


--
-- Name: financeiro_categoriafinanceira financeiro_categoriafinanceira_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_categoriafinanceira
    ADD CONSTRAINT financeiro_categoriafinanceira_nome_key UNIQUE (nome);


--
-- Name: financeiro_categoriafinanceira financeiro_categoriafinanceira_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_categoriafinanceira
    ADD CONSTRAINT financeiro_categoriafinanceira_pkey PRIMARY KEY (id);


--
-- Name: financeiro_contapagar financeiro_contapagar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_contapagar
    ADD CONSTRAINT financeiro_contapagar_pkey PRIMARY KEY (id);


--
-- Name: financeiro_contareceber financeiro_contareceber_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_contareceber
    ADD CONSTRAINT financeiro_contareceber_pkey PRIMARY KEY (id);


--
-- Name: financeiro_imposto financeiro_imposto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_imposto
    ADD CONSTRAINT financeiro_imposto_pkey PRIMARY KEY (id);


--
-- Name: qualidade_documento qualidade_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qualidade_documento
    ADD CONSTRAINT qualidade_documento_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: calibracao_calibracao_instrumento_id_39a6b527; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_calibracao_instrumento_id_39a6b527 ON public.calibracao_calibracao USING btree (instrumento_id);


--
-- Name: calibracao_calibracaoanexo_calibracao_id_ca93f8bc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_calibracaoanexo_calibracao_id_ca93f8bc ON public.calibracao_calibracaoanexo USING btree (calibracao_id);


--
-- Name: calibracao_instrumento_cliente_id_f5275f06; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_instrumento_cliente_id_f5275f06 ON public.calibracao_instrumento USING btree (cliente_id);


--
-- Name: calibracao_instrumento_codigo_1c4b75de_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_instrumento_codigo_1c4b75de_like ON public.calibracao_instrumento USING btree (codigo varchar_pattern_ops);


--
-- Name: calibracao_instrumento_metodo_calibracao_id_76f53a3f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_instrumento_metodo_calibracao_id_76f53a3f ON public.calibracao_instrumento USING btree (metodo_calibracao_id);


--
-- Name: calibracao_instrumento_padroes_instrumento_id_f71a0be2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_instrumento_padroes_instrumento_id_f71a0be2 ON public.calibracao_instrumento_padroes USING btree (instrumento_id);


--
-- Name: calibracao_instrumento_padroes_padrao_id_63c3a958; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_instrumento_padroes_padrao_id_63c3a958 ON public.calibracao_instrumento_padroes USING btree (padrao_id);


--
-- Name: calibracao_ordemservico_cliente_id_dea71139; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_ordemservico_cliente_id_dea71139 ON public.calibracao_ordemservico USING btree (cliente_id);


--
-- Name: calibracao_ordemservico_instrumentos_instrumento_id_ba5f02f8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_ordemservico_instrumentos_instrumento_id_ba5f02f8 ON public.calibracao_ordemservico_instrumentos USING btree (instrumento_id);


--
-- Name: calibracao_ordemservico_instrumentos_ordemservico_id_ecbefd1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_ordemservico_instrumentos_ordemservico_id_ecbefd1b ON public.calibracao_ordemservico_instrumentos USING btree (ordemservico_id);


--
-- Name: calibracao_ordemservico_proposta_id_74223018; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_ordemservico_proposta_id_74223018 ON public.calibracao_ordemservico USING btree (proposta_id);


--
-- Name: calibracao_padrao_codigo_80803463_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_padrao_codigo_80803463_like ON public.calibracao_padrao USING btree (codigo varchar_pattern_ops);


--
-- Name: calibracao_periodicidade_instrumento_id_cc03ce81; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calibracao_periodicidade_instrumento_id_cc03ce81 ON public.calibracao_periodicidade USING btree (instrumento_id);


--
-- Name: clientes_cliente_cnpj_990e86fe_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientes_cliente_cnpj_990e86fe_like ON public.clientes_cliente USING btree (cnpj varchar_pattern_ops);


--
-- Name: clientes_cliente_codigo_f8f0734a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientes_cliente_codigo_f8f0734a_like ON public.clientes_cliente USING btree (codigo varchar_pattern_ops);


--
-- Name: clientes_clienteanexo_cliente_id_c5d374c4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientes_clienteanexo_cliente_id_c5d374c4 ON public.clientes_clienteanexo USING btree (cliente_id);


--
-- Name: clientes_contatocliente_cliente_id_200cbc96; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientes_contatocliente_cliente_id_200cbc96 ON public.clientes_contatocliente USING btree (cliente_id);


--
-- Name: clientes_perfilusuario_numero_sequencial_27485332_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientes_perfilusuario_numero_sequencial_27485332_like ON public.clientes_perfilusuario USING btree (numero_sequencial varchar_pattern_ops);


--
-- Name: comercial_crminteracao_crm_id_63d2b044; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_crminteracao_crm_id_63d2b044 ON public.comercial_crminteracao USING btree (crm_id);


--
-- Name: comercial_crmregistro_cliente_id_d8f27fe5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_crmregistro_cliente_id_d8f27fe5 ON public.comercial_crmregistro USING btree (cliente_id);


--
-- Name: comercial_crmregistro_proposta_id_a718b621; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_crmregistro_proposta_id_a718b621 ON public.comercial_crmregistro USING btree (proposta_id);


--
-- Name: comercial_crmregistro_responsavel_id_990d0bfe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_crmregistro_responsavel_id_990d0bfe ON public.comercial_crmregistro USING btree (responsavel_id);


--
-- Name: comercial_crmticket_cliente_id_61211e3e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_crmticket_cliente_id_61211e3e ON public.comercial_crmticket USING btree (cliente_id);


--
-- Name: comercial_crmticket_proposta_id_27a65739; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_crmticket_proposta_id_27a65739 ON public.comercial_crmticket USING btree (proposta_id);


--
-- Name: comercial_crmticket_responsavel_id_440b263c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_crmticket_responsavel_id_440b263c ON public.comercial_crmticket USING btree (responsavel_id);


--
-- Name: comercial_itemproposta_produto_id_75e56a01; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_itemproposta_produto_id_75e56a01 ON public.comercial_itemproposta USING btree (produto_id);


--
-- Name: comercial_itemproposta_proposta_id_0b65f573; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_itemproposta_proposta_id_0b65f573 ON public.comercial_itemproposta USING btree (proposta_id);


--
-- Name: comercial_produtoanexo_produto_id_f28b0028; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_produtoanexo_produto_id_f28b0028 ON public.comercial_produtoanexo USING btree (produto_id);


--
-- Name: comercial_produtoservico_codigo_c4ff697b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_produtoservico_codigo_c4ff697b_like ON public.comercial_produtoservico USING btree (codigo varchar_pattern_ops);


--
-- Name: comercial_proposta_cliente_id_8a875db3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_proposta_cliente_id_8a875db3 ON public.comercial_proposta USING btree (cliente_id);


--
-- Name: comercial_proposta_codigo_76912456_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_proposta_codigo_76912456_like ON public.comercial_proposta USING btree (codigo varchar_pattern_ops);


--
-- Name: comercial_proposta_responsavel_id_273f4b30; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_proposta_responsavel_id_273f4b30 ON public.comercial_proposta USING btree (responsavel_id);


--
-- Name: comercial_propostaanexo_proposta_id_e9de15cf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comercial_propostaanexo_proposta_id_e9de15cf ON public.comercial_propostaanexo USING btree (proposta_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: financeiro_categoriafinanceira_codigo_326f49bc_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX financeiro_categoriafinanceira_codigo_326f49bc_like ON public.financeiro_categoriafinanceira USING btree (codigo varchar_pattern_ops);


--
-- Name: financeiro_categoriafinanceira_nome_2f516b6a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX financeiro_categoriafinanceira_nome_2f516b6a_like ON public.financeiro_categoriafinanceira USING btree (nome varchar_pattern_ops);


--
-- Name: financeiro_contapagar_categoria_id_45ad8263; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX financeiro_contapagar_categoria_id_45ad8263 ON public.financeiro_contapagar USING btree (categoria_id);


--
-- Name: financeiro_contareceber_cliente_id_cb04e736; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX financeiro_contareceber_cliente_id_cb04e736 ON public.financeiro_contareceber USING btree (cliente_id);


--
-- Name: financeiro_contareceber_proposta_id_06aee62c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX financeiro_contareceber_proposta_id_06aee62c ON public.financeiro_contareceber USING btree (proposta_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_calibracaoanexo calibracao_calibraca_calibracao_id_ca93f8bc_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_calibracaoanexo
    ADD CONSTRAINT calibracao_calibraca_calibracao_id_ca93f8bc_fk_calibraca FOREIGN KEY (calibracao_id) REFERENCES public.calibracao_calibracao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_calibracao calibracao_calibraca_instrumento_id_39a6b527_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_calibracao
    ADD CONSTRAINT calibracao_calibraca_instrumento_id_39a6b527_fk_calibraca FOREIGN KEY (instrumento_id) REFERENCES public.calibracao_instrumento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_instrumento calibracao_instrumen_cliente_id_f5275f06_fk_clientes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento
    ADD CONSTRAINT calibracao_instrumen_cliente_id_f5275f06_fk_clientes_ FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_instrumentotecnico calibracao_instrumen_instrumento_id_6ed447ee_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumentotecnico
    ADD CONSTRAINT calibracao_instrumen_instrumento_id_6ed447ee_fk_calibraca FOREIGN KEY (instrumento_id) REFERENCES public.calibracao_instrumento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_instrumento_padroes calibracao_instrumen_instrumento_id_f71a0be2_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento_padroes
    ADD CONSTRAINT calibracao_instrumen_instrumento_id_f71a0be2_fk_calibraca FOREIGN KEY (instrumento_id) REFERENCES public.calibracao_instrumento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_instrumento calibracao_instrumen_metodo_calibracao_id_76f53a3f_fk_qualidade; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento
    ADD CONSTRAINT calibracao_instrumen_metodo_calibracao_id_76f53a3f_fk_qualidade FOREIGN KEY (metodo_calibracao_id) REFERENCES public.qualidade_documento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_instrumento_padroes calibracao_instrumen_padrao_id_63c3a958_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_instrumento_padroes
    ADD CONSTRAINT calibracao_instrumen_padrao_id_63c3a958_fk_calibraca FOREIGN KEY (padrao_id) REFERENCES public.calibracao_padrao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_ordemservico calibracao_ordemserv_cliente_id_dea71139_fk_clientes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_ordemservico
    ADD CONSTRAINT calibracao_ordemserv_cliente_id_dea71139_fk_clientes_ FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_ordemservico_instrumentos calibracao_ordemserv_instrumento_id_ba5f02f8_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_ordemservico_instrumentos
    ADD CONSTRAINT calibracao_ordemserv_instrumento_id_ba5f02f8_fk_calibraca FOREIGN KEY (instrumento_id) REFERENCES public.calibracao_instrumento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_ordemservico_instrumentos calibracao_ordemserv_ordemservico_id_ecbefd1b_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_ordemservico_instrumentos
    ADD CONSTRAINT calibracao_ordemserv_ordemservico_id_ecbefd1b_fk_calibraca FOREIGN KEY (ordemservico_id) REFERENCES public.calibracao_ordemservico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_ordemservico calibracao_ordemserv_proposta_id_74223018_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_ordemservico
    ADD CONSTRAINT calibracao_ordemserv_proposta_id_74223018_fk_comercial FOREIGN KEY (proposta_id) REFERENCES public.comercial_proposta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calibracao_periodicidade calibracao_periodici_instrumento_id_cc03ce81_fk_calibraca; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calibracao_periodicidade
    ADD CONSTRAINT calibracao_periodici_instrumento_id_cc03ce81_fk_calibraca FOREIGN KEY (instrumento_id) REFERENCES public.calibracao_instrumento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientes_clienteanexo clientes_clienteanex_cliente_id_c5d374c4_fk_clientes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_clienteanexo
    ADD CONSTRAINT clientes_clienteanex_cliente_id_c5d374c4_fk_clientes_ FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientes_contatocliente clientes_contatoclie_cliente_id_200cbc96_fk_clientes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_contatocliente
    ADD CONSTRAINT clientes_contatoclie_cliente_id_200cbc96_fk_clientes_ FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientes_perfilusuario clientes_perfilusuario_user_id_5e5dcb6d_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_perfilusuario
    ADD CONSTRAINT clientes_perfilusuario_user_id_5e5dcb6d_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_composicaopreco comercial_composicao_produto_id_9c62a40f_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_composicaopreco
    ADD CONSTRAINT comercial_composicao_produto_id_9c62a40f_fk_comercial FOREIGN KEY (produto_id) REFERENCES public.comercial_produtoservico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_crminteracao comercial_crminterac_crm_id_63d2b044_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crminteracao
    ADD CONSTRAINT comercial_crminterac_crm_id_63d2b044_fk_comercial FOREIGN KEY (crm_id) REFERENCES public.comercial_crmregistro(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_crmregistro comercial_crmregistr_cliente_id_d8f27fe5_fk_clientes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmregistro
    ADD CONSTRAINT comercial_crmregistr_cliente_id_d8f27fe5_fk_clientes_ FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_crmregistro comercial_crmregistr_proposta_id_a718b621_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmregistro
    ADD CONSTRAINT comercial_crmregistr_proposta_id_a718b621_fk_comercial FOREIGN KEY (proposta_id) REFERENCES public.comercial_proposta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_crmregistro comercial_crmregistro_responsavel_id_990d0bfe_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmregistro
    ADD CONSTRAINT comercial_crmregistro_responsavel_id_990d0bfe_fk_auth_user_id FOREIGN KEY (responsavel_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_crmticket comercial_crmticket_cliente_id_61211e3e_fk_clientes_cliente_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmticket
    ADD CONSTRAINT comercial_crmticket_cliente_id_61211e3e_fk_clientes_cliente_id FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_crmticket comercial_crmticket_proposta_id_27a65739_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmticket
    ADD CONSTRAINT comercial_crmticket_proposta_id_27a65739_fk_comercial FOREIGN KEY (proposta_id) REFERENCES public.comercial_proposta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_crmticket comercial_crmticket_responsavel_id_440b263c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_crmticket
    ADD CONSTRAINT comercial_crmticket_responsavel_id_440b263c_fk_auth_user_id FOREIGN KEY (responsavel_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_dadostecnicos comercial_dadostecni_produto_id_f324e218_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_dadostecnicos
    ADD CONSTRAINT comercial_dadostecni_produto_id_f324e218_fk_comercial FOREIGN KEY (produto_id) REFERENCES public.comercial_produtoservico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_itemproposta comercial_itempropos_produto_id_75e56a01_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_itemproposta
    ADD CONSTRAINT comercial_itempropos_produto_id_75e56a01_fk_comercial FOREIGN KEY (produto_id) REFERENCES public.comercial_produtoservico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_itemproposta comercial_itempropos_proposta_id_0b65f573_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_itemproposta
    ADD CONSTRAINT comercial_itempropos_proposta_id_0b65f573_fk_comercial FOREIGN KEY (proposta_id) REFERENCES public.comercial_proposta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_produtoanexo comercial_produtoane_produto_id_f28b0028_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_produtoanexo
    ADD CONSTRAINT comercial_produtoane_produto_id_f28b0028_fk_comercial FOREIGN KEY (produto_id) REFERENCES public.comercial_produtoservico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_proposta comercial_proposta_cliente_id_8a875db3_fk_clientes_cliente_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_proposta
    ADD CONSTRAINT comercial_proposta_cliente_id_8a875db3_fk_clientes_cliente_id FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_proposta comercial_proposta_responsavel_id_273f4b30_fk_clientes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_proposta
    ADD CONSTRAINT comercial_proposta_responsavel_id_273f4b30_fk_clientes_ FOREIGN KEY (responsavel_id) REFERENCES public.clientes_contatocliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comercial_propostaanexo comercial_propostaan_proposta_id_e9de15cf_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comercial_propostaanexo
    ADD CONSTRAINT comercial_propostaan_proposta_id_e9de15cf_fk_comercial FOREIGN KEY (proposta_id) REFERENCES public.comercial_proposta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financeiro_contapagar financeiro_contapaga_categoria_id_45ad8263_fk_financeir; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_contapagar
    ADD CONSTRAINT financeiro_contapaga_categoria_id_45ad8263_fk_financeir FOREIGN KEY (categoria_id) REFERENCES public.financeiro_categoriafinanceira(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financeiro_contareceber financeiro_contarece_cliente_id_cb04e736_fk_clientes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_contareceber
    ADD CONSTRAINT financeiro_contarece_cliente_id_cb04e736_fk_clientes_ FOREIGN KEY (cliente_id) REFERENCES public.clientes_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financeiro_contareceber financeiro_contarece_proposta_id_06aee62c_fk_comercial; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financeiro_contareceber
    ADD CONSTRAINT financeiro_contarece_proposta_id_06aee62c_fk_comercial FOREIGN KEY (proposta_id) REFERENCES public.comercial_proposta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict TUJRWtLUN3VxfjFLX3jZ5JdWMxmzcwupE7G1qc090MXNLMpDbVjNp06fI9VqNS8

