{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:calibracao_instrumento_exportar_excel' %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" class="historylink">Exportar Excel</a>
    </li>
    <li>
        <a href="{% url 'admin:calibracao_instrumento_importar_excel' %}" class="historylink">Importar Excel</a>
    </li>
    <li>
        <a href="{% url 'admin:calibracao_instrumento_modelo_importacao' %}" class="historylink">Baixar modelo</a>
    </li>
    {{ block.super }}
{% endblock %}
